DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/cobrewer
CLERK_SECRET_KEY=
CLOUDFLARE_R2_ENDPOINT=
CLOUDFLARE_R2_ACCESS_KEY=
CLOUDFLARE_R2_SECRET_KEY=
CLOUDFLARE_R2_BUCKET=cobrewer-uploads
OPENAI_API_KEY=
DEBUG=false
